/GeneratedPresentation/create a presentation on taj mahal.pptx
/engine/cookies.json
/engine/Wisdom_en_windows_v3_0_0.ppn
wisdom.db
Avialable providers.txt
/cache/create a presentation on taj mahal.txt
/Git
/.vscode
/__pycache__
/my_env
contacts.csv